h1 {
    color: white;
    display:flex;
    justify-content: center;
}

body {
    background-color: rgb(36, 7, 51);
}
 
.menu ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   
}

.menu li {
    margin-right: 80px;
}

nav {
    display: flex;
    justify-content: right;
    margin-left: 10px;
    margin-right: 5px;
    background-color:rgb(255, 255, 255);
    height: 35px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

h2 {
    color: white;
    display:flex;
    justify-content: center;
}

p {
    color: white;
    display:flex;
    justify-content: center;
}